@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);





body {
  font-family: Dosis;
}
.display-1 {
  font-family: 'Dosis', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2rem;
}
.display-7 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffbc00 !important;
}
.bg-success {
  background-color: #36d88a !important;
}
.bg-info {
  background-color: #ff4100 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #cc9600 !important;
  border-color: #cc9600 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #cc9600 !important;
  border-color: #cc9600 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2a7cb2 !important;
  border-color: #2a7cb2 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2a7cb2 !important;
  border-color: #2a7cb2 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cc3400 !important;
  border-color: #cc3400 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #cc3400 !important;
  border-color: #cc3400 !important;
}
.btn-success,
.btn-success:active {
  background-color: #36d88a !important;
  border-color: #36d88a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #24b770 !important;
  border-color: #24b770 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #24b770 !important;
  border-color: #24b770 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #a8a8a8 !important;
  border-color: #a8a8a8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a8a8a8 !important;
  border-color: #a8a8a8 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #2b2b2b !important;
  border-color: #2b2b2b !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2b2b2b !important;
  border-color: #2b2b2b !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #616161 !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffbc00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a87c00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffbc00 !important;
  border-color: #ffbc00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3e97d1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #236895 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #3e97d1 !important;
  border-color: #3e97d1 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff4100;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #a82b00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4100 !important;
  border-color: #ff4100 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #36d88a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1e9a5e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #36d88a !important;
  border-color: #36d88a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c1c1c1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #969696 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #444444;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #191919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffbc00 !important;
}
.text-secondary {
  color: #3e97d1 !important;
}
.text-success {
  color: #36d88a !important;
}
.text-info {
  color: #ff4100 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #997100 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #215f88 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #1b8d56 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #992700 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  text-decoration: underline;
}
.nav-tabs .nav-link.active {
  color: #ffbc00;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff4100;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffbc00;
  border-color: #ffbc00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffbc00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff2cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e1f9ed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffd9cc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffbc00 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #ffbc00;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffbc00;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffbc00;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffbc00;
  border-bottom-color: #ffbc00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffbc00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #3e97d1 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffbc00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rzMzee4krn .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #333333;
  background: none;
}
.cid-rzMzee4krn .navbar.opened {
  transition: all .3s;
  background: #333333 !important;
}
.cid-rzMzee4krn .navbar .dropdown-item {
  transition: all .3s;
  padding: .3rem 1.5rem;
  border-bottom: 1px solid #2b2b2b;
  color: #ffffff !important;
  background: #444444 !important;
}
.cid-rzMzee4krn .navbar .dropdown-item:hover {
  padding-left: 2rem;
}
.cid-rzMzee4krn .navbar .dropdown-item:focus border {
  outline: none;
}
.cid-rzMzee4krn .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rzMzee4krn .navbar .dropdown-menu {
  min-width: 100%;
  padding: 3px 0 0 0;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar .dropdown-menu > .dropdown-item:first-child {
  border-top: 2px solid #ffbc00;
}
.cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
  padding-top: 0px;
}
.cid-rzMzee4krn .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu {
  width: auto;
  padding: 1rem 0 1rem 0;
  border-top: none !important;
  background: transparent !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed .nav-dropdown .link {
  margin: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  border-bottom: none !important;
  background: transparent !important;
  color: inherit !important;
}
.cid-rzMzee4krn .navbar.collapsed .dropdown-menu .dropdown-item:first-child {
  border-top: none;
}
@media (max-width: 991px) {
  .cid-rzMzee4krn .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu {
    width: auto;
    padding: 1rem 0 1rem 0;
    background: transparent !important;
    border-top: none !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    padding: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .nav-dropdown .link {
    margin: 0.667em 1.667em;
  }
  .cid-rzMzee4krn .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rzMzee4krn .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
    border-bottom: none !important;
    background: transparent !important;
    color: inherit !important;
  }
  .cid-rzMzee4krn .navbar .dropdown-menu .dropdown-item:first-child {
    border-top: none;
  }
  .cid-rzMzee4krn .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rzMzee4krn .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-rzMzee4krn .navbar.navbar-short {
  background: #333333 !important;
  min-height: 60px;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rzMzee4krn .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rzMzee4krn .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rzMzee4krn .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rzMzee4krn .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rzMzee4krn .dropdown-item.active,
.cid-rzMzee4krn .dropdown-item:active {
  background-color: transparent;
}
.cid-rzMzee4krn .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #333333;
}
.cid-rzMzee4krn .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: -2px 0 0 0;
  left: 100%;
}
.cid-rzMzee4krn .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rzMzee4krn ul.navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.cid-rzMzee4krn .navbar-buttons {
  text-align: center;
}
.cid-rzMzee4krn button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffbc00;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rzMzee4krn button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rzMzee4krn nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rzMzee4krn .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rzMzee4krn a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  outline: none;
  letter-spacing: 2px;
}
.cid-rzMzee4krn .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rzMzee4krn .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  padding: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-dropdown .link {
  margin: 1.667em 1.667em;
}
.cid-rzMzee4krn .nav-link:hover,
.cid-rzMzee4krn .dropdown-item:hover {
  color: #c1c1c1 !important;
}
.cid-sDdPu9NnoF {
  padding-top: 150px;
  padding-bottom: 45px;
  background-color: #1c13cb;
  overflow: hidden;
}
.cid-sDdPu9NnoF svg {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6);
}
.cid-sDdPu9NnoF #e2_shape {
  fill: #ffffff !important;
}
.cid-sDdPu9NnoF img {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 10px 55px 5px rgba(103, 173, 219, 0.35);
}
@media (max-width: 576px) {
  .cid-sDdPu9NnoF img {
    width: 90%!important;
  }
}
.cid-sDdPu9NnoF H1 {
  color: #ffffff;
}
.cid-sDoCfHqXmH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sDoCfHqXmH .mbr-section-title,
  .cid-sDoCfHqXmH .mbr-section-subtitle,
  .cid-sDoCfHqXmH .mbr-section-btn,
  .cid-sDoCfHqXmH .mbr-text {
    text-align: center;
  }
}
.cid-sDoCfHqXmH .mbr-section-title {
  color: #082c4e;
}
.cid-sDoCfHqXmH .mbr-text,
.cid-sDoCfHqXmH .mbr-section-btn {
  color: #082c4e;
}
.cid-sDoCfHqXmH .subtitle {
  width: 100%;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-sDoCfHqXmH .subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .cid-sDoCfHqXmH .subtitle {
    text-align: center;
  }
}
.cid-sDoCfHqXmH .mbr-section-subtitle {
  color: #082c4e;
}
.cid-sDoCfHqXmH span {
  padding-right: 1rem;
}
.cid-sDoCfHqXmH .dot {
  padding-left: 1.5rem;
  position: relative;
}
.cid-sDoCfHqXmH .dot:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  left: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #ffbc00;
}
@media (max-width: 767px) {
  .cid-sDoCfHqXmH .dot {
    padding-left: 0rem;
  }
  .cid-sDoCfHqXmH .dot:before {
    content: none;
  }
}
.cid-sDpy9jQJlb {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #004cd5;
}
.cid-sDpy9jQJlb .row {
  flex-direction: row-reverse;
}
.cid-sDpy9jQJlb li {
  padding-bottom: 1.5rem;
}
.cid-sDpy9jQJlb img {
  width: 100%;
}
.cid-sDpy9jQJlb .text-wrapper {
  z-index: 11;
}
.cid-sDpy9jQJlb .wrapper {
  display: flex;
}
.cid-sDpy9jQJlb .row {
  align-items: center;
}
.cid-sDpy9jQJlb .animate__fadeInUp:before {
  background: #004cd5;
}
.cid-sDpy9jQJlb .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #ffbc00;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-sDpy9jQJlb .wrapper {
    flex-direction: column;
  }
  .cid-sDpy9jQJlb .iconfont-wrapper {
    margin: auto;
  }
  .cid-sDpy9jQJlb .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-sDpy9jQJlb .mbr-section-title {
  color: #ffffff;
}
.cid-sDpy9jQJlb .mbr-text,
.cid-sDpy9jQJlb .mbr-section-btn {
  color: #ffffff;
}
.cid-sDpy9jQJlb .mbr-text UL {
  text-align: left;
}
.cid-sDpz1ybabn {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #004cd5;
}
.cid-sDpz1ybabn .card-title {
  letter-spacing: 0.03em;
  color: #232323;
  margin: 0;
  padding: 0;
}
.cid-sDpz1ybabn .card {
  margin-bottom: 2rem;
}
.cid-sDpz1ybabn .card-box {
  word-break: break-word;
  padding-top: 2rem;
}
.cid-sDpz1ybabn .card-box p {
  color: #444;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 1.5rem;
}
.cid-sDpz1ybabn .btn {
  margin: .3rem;
}
.cid-sDpz1ybabn .mbr-section-title {
  margin: 0;
}
.cid-sDpz1ybabn .card-underline,
.cid-sDpz1ybabn .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-sDpz1ybabn .card-underline .line,
.cid-sDpz1ybabn .underline .line {
  width: 3rem;
  height: 2px;
  background: #444444;
  display: inline-block;
}
.cid-sDpz1ybabn .card-underline {
  margin-bottom: 1.5rem;
  margin-top: 0 !important;
}
.cid-sDpz1ybabn .card-underline .line {
  background: #ffbc00;
}
@media (max-width: 767px) {
  .cid-sDpz1ybabn .row.blog-block {
    padding: 0 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sDpz1ybabn .row-content {
    min-width: 100%;
  }
  .cid-sDpz1ybabn .card {
    display: block;
  }
}
.cid-sDpz1ybabn .card-title,
.cid-sDpz1ybabn .card-underline {
  color: #ffffff;
}
.cid-sDpz1ybabn .card-box > p,
.cid-sDpz1ybabn .mbr-section-btn {
  color: #ffffff;
}
.cid-sDpBCxH2jF {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sDpBCxH2jF .mbr-text,
.cid-sDpBCxH2jF .mbr-section-btn {
  color: #31363b;
}
.cid-sDpBCxH2jF ul {
  list-style: none;
  margin: 0;
  padding-left: 1.6rem;
}
.cid-sDpBCxH2jF ul li::before {
  content: "\2022";
  color: #ffbc00;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
  transform: translateY(5px);
}
.cid-sDpBCxH2jF li {
  padding-bottom: 0rem;
  transition: all 0.3s;
}
.cid-sDpBCxH2jF li a {
  font-weight: 600;
}
.cid-sDpBCxH2jF li:hover {
  color: #ffbc00;
}
.cid-sDpFpJt7Ed {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sDpFpJt7Ed ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-sDpFpJt7Ed li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-sDpFpJt7Ed ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #ffbc00;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-sDG2QesOLE {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sDG2QesOLE img {
  width: 100%;
}
.cid-sDG2QesOLE .py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.cid-sDG2QesOLE .pt-2 {
  padding-top: 12px !important;
}
.cid-sDG68FSk7B {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: #f4f8fa;
}
.cid-sDG68FSk7B .card {
  display: block;
  position: relative;
}
.cid-sDG68FSk7B .card .card-wrapper {
  background: #ffffff;
  height: 1%;
}
.cid-sDG68FSk7B .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-sDG68FSk7B .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-sDG68FSk7B .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #e96188;
}
.cid-sDG68FSk7B .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-sDG68FSk7B .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-sDG68FSk7B .mbr-card-text {
  margin: 0;
}
.cid-sDG68FSk7B .mbr-section-title {
  text-align: center;
}
.cid-sDG6VXD1v4 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f4f8fa;
}
.cid-sDG6VXD1v4 .mbr-iconfont {
  font-size: 34px;
  width: 5.125rem;
  transition: color .3s;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  color: #fff;
  margin-top: -2.5rem;
  border-radius: 50%;
}
.cid-sDG6VXD1v4 .mbr-section-title {
  margin: 0;
}
.cid-sDG6VXD1v4 .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-sDG6VXD1v4 .card-img {
  text-align: inherit;
}
.cid-sDG6VXD1v4 .card-img span {
  background: linear-gradient(90deg, #ffbc00, #ff8a8a);
}
.cid-sDG6VXD1v4 .mbr-text {
  color: #8d97ad;
}
.cid-sDG6VXD1v4 .wrapper {
  border-radius: .25rem;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (max-width: 991px) {
  .cid-sDG6VXD1v4 .wrapper {
    margin-bottom: 5rem;
  }
}
.cid-sDGaR0qDFj {
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sDGaR0qDFj .mbr-text,
.cid-sDGaR0qDFj .mbr-section-btn {
  color: #1d2c35;
}
.cid-sDGaR0qDFj .card-title,
.cid-sDGaR0qDFj .card-box {
  color: #1d2c35;
}
.cid-sDGaR0qDFj .mbr-text,
.cid-sDGaR0qDFj .link-wrap {
  color: #1d2c35;
}
.cid-sDGa9rd77e {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sDGa9rd77e .mbr-text {
  color: #767676;
}
.cid-sDGa9rd77e .mbr-iconfont {
  color: #ffbc00 !important;
  font-size: 3.5rem !important;
}
.cid-sDGa9rd77e .link {
  margin: 0;
}
.cid-sDGa9rd77e .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-sDGa9rd77e .link a:after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 0;
  margin: auto;
  right: 0;
  width: 40px;
  height: 2px;
  background: currentColor;
}
.cid-sDGa9rd77e .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-sDGa9rd77e .card {
    margin-bottom: 3rem;
  }
}
.cid-sDGbBPfA8G {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sDGbBPfA8G .mbr-text {
  color: #767676;
}
.cid-sDGbBPfA8G .mbr-iconfont {
  color: #ffbc00 !important;
  font-size: 3.5rem !important;
}
.cid-sDGbBPfA8G .link {
  margin: 0;
}
.cid-sDGbBPfA8G .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-sDGbBPfA8G .link a:after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 0;
  margin: auto;
  right: 0;
  width: 40px;
  height: 2px;
  background: currentColor;
}
.cid-sDGbBPfA8G .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-sDGbBPfA8G .card {
    margin-bottom: 3rem;
  }
}
.cid-sDGafUE9O5 {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-sDGafUE9O5 .mbr-text {
  color: #767676;
}
.cid-sDGafUE9O5 .mbr-iconfont {
  color: #ffbc00 !important;
  font-size: 3.5rem !important;
}
.cid-sDGafUE9O5 .link {
  margin: 0;
}
.cid-sDGafUE9O5 .link a {
  position: relative;
  letter-spacing: 2px;
}
.cid-sDGafUE9O5 .link a:after {
  position: absolute;
  content: '';
  bottom: -20px;
  left: 0;
  margin: auto;
  right: 0;
  width: 40px;
  height: 2px;
  background: currentColor;
}
.cid-sDGafUE9O5 .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-sDGafUE9O5 .card {
    margin-bottom: 3rem;
  }
}
.cid-sDGxEvyhey {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/004.jpg");
}
.cid-sDGxEvyhey .typed-text {
  margin-bottom: 30px;
  color: #111111;
}
.cid-sDGxEvyhey .mbr-section-text {
  margin-bottom: 1.125rem;
}
.cid-sDGxEvyhey .mbr-section-text,
.cid-sDGxEvyhey .mbr-section-btn {
  color: #4c4a4b;
}
.cid-sDGxEvyhey .typed-text .typed-text {
  color: #ef8e81;
}
.cid-sDGyxFeb5k {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sDGyxFeb5k ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-sDGyxFeb5k li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-sDGyxFeb5k ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #ffbc00;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-sDGyxFeb5k H3 {
  color: #000000;
}
.cid-sDGzwPfWXB {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sDGzwPfWXB h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sDGzwPfWXB .mbr-section-subtitle {
  color: #767676;
}
.cid-sDGzwPfWXB .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-sDGzwPfWXB .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-sDGAM7LdrK {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-sDGAM7LdrK h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sDGAM7LdrK .mbr-section-subtitle {
  color: #767676;
}
.cid-sDGAM7LdrK .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-sDGAM7LdrK .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-sDGALz1tFM {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sDGALz1tFM h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-sDGALz1tFM .mbr-section-subtitle {
  color: #767676;
}
.cid-sDGALz1tFM .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
.cid-sDdUPx0W5S {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sDdUPx0W5S a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sDdUPx0W5S a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sDdUPx0W5S .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sDdUPx0W5S .input-group-btn .btn {
  border-radius: 0px !important;
}
.cid-sDdUPx0W5S .form-control {
  background: none;
  border-radius: 0px;
}
.cid-sDdUPx0W5S textarea.form-control {
  min-height: 214.5px;
}
.cid-sDdUPx0W5S .ico-box {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  margin-bottom: 2.5rem;
}
.cid-sDdUPx0W5S h4,
.cid-sDdUPx0W5S p {
  margin: 0;
}
.cid-sDdUPx0W5S h2 {
  color: #333;
  margin-bottom: 2rem;
}
.cid-sDdUPx0W5S h3 {
  color: #767676;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.cid-sDdUPx0W5S .icon {
  color: #656565;
  font-size: 2.5rem;
}
@media (max-width: 991px) {
  .cid-sDdUPx0W5S h2 {
    text-align: center;
  }
  .cid-sDdUPx0W5S h3 {
    text-align: center;
  }
  .cid-sDdUPx0W5S .input-group-btn {
    text-align: center;
  }
  .cid-sDdUPx0W5S .social-list {
    text-align: center;
  }
  .cid-sDdUPx0W5S .order-2 {
    margin-top: 2.5rem;
  }
}
.cid-sDdUPx0W5S H2 {
  color: #656565;
}
.cid-sDdUPx0W5S .content {
  text-align: left;
  color: #656565;
}
.cid-sDdUPx0W5S .type {
  text-align: left;
  padding-bottom: 8px;
  color: #232323;
}
.cid-sDdUPx0W5S .title1 {
  text-align: left;
}
.cid-sDdUPx0W5S .mbr-section-subtitle {
  text-align: left;
  color: #656565;
}
.cid-sDdUPx0W5S .title2 {
  color: #656565;
}
.cid-rzMwAwMR92 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #232323;
}
.cid-rzMwAwMR92 a:link {
  text-decoration: none;
}
.cid-rzMwAwMR92 .icon-transition span {
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 3em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-rzMwAwMR92 .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-rzMwAwMR92 .inner-text {
  line-height: 3em;
}
.cid-rzMwAwMR92 .social-media {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rzMwAwMR92 .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-rzMwAwMR92 .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-rzMwAwMR92 .content-text,
.cid-rzMwAwMR92 .inner-text {
  color: #c1c1c1;
}
